{erl_opts, [debug_info]}.

{shell, [
    {apps, [lambda]}
]}.

%% Enabling node name prevents from running shell & CT concurrently
%% {dist_node, [{sname, lambda}]}.

{profiles,
    [
        {test, [
            {deps, [
                {proper, {git, "https://github.com/proper-testing/proper.git", {branch, "master"}}}
            ]}
        ]}
    ]}.
