{erl_opts, [debug_info]}.
{deps, [argparse]}.

{shell, [
    {apps, [lambda]}
]}.

%% {dist_node, [{name, authority}]}.

{relx, [
    {release, {lambda, "0.1.0"}, [lambda]}
]}.

{dialyzer, [
    {warnings, [unknown]},
    {plt_extra_apps, [tools]}
]}.

{profiles,
    [
        {test, [{deps, [proper, erlperf]}]},
        {prod, [{relx, [{debug_info, keep}]}]}
    ]}.
