{erl_opts, [debug_info]}.

{shell, [
    {apps, [lambda]}
]}.

%% {dist_node, [{name, authority}]}.

{relx, [
    {release, {lambda, "0.1.0"}, [lambda]}
]}.

{dialyzer, [
    {warnings, [unknown]},
    {plt_extra_apps, [tools]}
]}.

{profiles,
    [
        {test, [
            {deps, [
                {proper, {git, "https://github.com/proper-testing/proper.git", {branch, "master"}}},
                {erlperf, {git, "https://github.com/max-au/erlperf.git", {branch, "master"}}}
            ]}
        ]},
        {prod, [
            {relx, [{debug_info, keep}]}
        ]}
    ]}.
