[
    {kernel, [
        {logger_level, all},
        {logger,
            [{handler, default, logger_std_h,
                #{
                    level => debug,
                    config => #{type => standard_io},
                    filter_default => log,
                    formatter => {logger_formatter, #{
                        legacy_header => false,
                        single_line => true,
                        template => [time, " ", node, " ", pid, " ", mfa, ":", line, " ", msg, "\n"]
                    }}
                }}
            ]}
    ]},

    {lambda, [
        {authority, true},
        {broker, false}
    ]}
].
