name: Build, Test, Dialyze

on:
  pull_request:
    branches:
      - 'master'
  push:
    branches:
      - 'master'

jobs:
  linux:
    name: Test on OTP ${{ matrix.otp_version }} and ${{ matrix.os }}
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        otp_version: [23]
        os: [ubuntu-latest]

    container:
      image: erlang:${{ matrix.otp_version }}

    steps:
    - uses: actions/checkout@v2
    - name: Compile
      run: rebar3 compile
    - name: CT tests
      run: rebar3 do edoc,ct
    - shell: bash
      name: Dialyzer
      run: rebar3 dialyzer

  macos:
    name: Test on MacOS
    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v2
    - name: Install Erlang
      run: brew install erlang
    - name: Install rebar3
      run: rebar3 compile
    - name: CT tests
      run: rebar3 ct

  windows:
    name: Test on Windows
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v2
    - name: Install Erlang
      run: choco install erlang
    - name: Install rebar3
      run: rebar3 compile
    - name: CT tests
      run: rebar3 ct
